.header-bg {
  height: 400px;
}
ul {
  list-style: none;
}
#tour {
  background-color: #f8661e;
}
.header__content {
  top: 25%;
}

.header-bg {
  background-image: url(../images/tour/tour-07.jpeg);
}
.tour {
  text-align: center;
  &__menu {
    background-color: #efeeed;
    padding: 10px 0px;
    opacity: 0.8;
    position: absolute;
    top: 343px;
    width: 100%;
    z-index: 999;
    a {
      color: #616161;
      transition: 0.3s;
      font-size: 18px;
      &:hover {
        color: #f8661e;
      }
    }
    svg {
      opacity: 0.8;
      font-size: 18px;
    }
  }
  &__title h2 {
    color: #f8661e;
    font-size: 40px;
    font-weight: 500;
    padding: 40px 0;
  }
  &__detail {
    margin-bottom: 30px;
    a {
      color: #9c9c9c;
      font-size: 20px;
      &:active {
        color: #000;
      }
    }
    .tab-content {
      text-align: start;
      border: 1px solid #cecece;
      -moz-box-shadow: 0px 0px 3px #00000020;
      -webkit-box-shadow: 0px 0px 3px #00000020;
      box-shadow: 0px 0px 3px #00000020;
      h3 {
        font-size: 24px;
      }
      p {
        font-size: 16px;
      }
    }
  }
  button {
    background-color: #f8661e;
    color: #fff;
    padding: 10px 20px;
    border-radius: 3px;
    font-size: 16px;
    border: none;
    transition: 0.3s all;
    margin-bottom: 30px;
    &:hover {
      opacity: 0.8;
    }
  }
}

.menu__toggle--select {
  display: flex;
  justify-content: space-between;
  background-color: #eeeeee;
  border: 1px solid #cecece;
  -moz-box-shadow: 0px 0px 3px #00000020;
  -webkit-box-shadow: 0px 0px 3px #00000020;
  box-shadow: 0px 0px 3px #00000020;
  padding: 5px 5px;
  button {
    margin-bottom: 0;
  }
}
.menu__toggle--list {
  display: none;
  flex-direction: column;
  li {
    background-color: #eeeeee;
    border: 1px solid #cecece;
    -moz-box-shadow: 0px 0px 3px #00000020;
    -webkit-box-shadow: 0px 0px 3px #00000020;
    box-shadow: 0px 0px 3px #00000020;
    padding: 5px 5px;
    margin-bottom: 5px !important;
  }
}

.nav-tabs {
  border-bottom: none;
}
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: #495057;
  background-color: #fff;
  border-color: #cecece #cecece #fff;
}

#menu4 img {
  width: 100%;
  padding: 10px;
}

.menu_toggle {
  position: relative;
}
