.header-bg {
  height: 400px;
  background-image: url(../images/gallery/gallery-banner.jpeg);
}
.header__content {
  top: 25%;
}
#gallery {
  background-color: #f8661e;
}
.gallery {
  padding: 30px 15px;
  &__item {
    padding: 10px;
  }
  img {
    width: 100%;
  }
}
