@mixin error-validate() {
  color: red;
  font-size: 13px;
  font-style: italic;
}
.header-bg {
  background-image: url(../images/rooms/room-01.jpeg);
  height: 400px;
}
.header__content {
  top: 25%;
}
#reserve {
  background-color: #f8661e;
}

::placeholder {
  color: #cacaca;
  font-style: italic;
}
.reserve {
  font-size: 16px;
  padding: 40px 0;
  text-align: center;
  &__list {
    margin-bottom: 30px;
  }
}
input {
  width: 100%;
  height: 46px;
  padding-left: 10px;
}

.textarea {
  text-align: center;
  textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
  }
}

.captcha {
  padding-top: 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  input {
    margin-top: 6px;
    width: 300px;
  }
  button {
    background-color: #f8661e;
    color: #fff;
    padding: 10px 25px;
    border: none;
    margin-top: 20px;
    &:hover {
      background-color: #d3581a;
    }
  }
}

label.error {
  @include error-validate();
}

// style for captcha
#random {
  background-image: url(../images/bg_captcha.jpeg);
  text-align: center;
  height: 50px;
  width: 200px;
  font-size: 30px;
}

.error-input {
  border: 1px solid red;
  ::placeholder {
    @include error-validate();
  }
}
