// variable
$bgmain: #fff;
$bg-black: #000;
$link-main: #fff;
$link-hover: #f8661e;

//mixin
@mixin d-flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin transition($transition...) {
  -moz-transition: $transition;
  -o-transition: $transition;
  -webkit-transition: $transition;
  transition: $transition;
}

@mixin error-validate() {
  color: red;
  font-size: 13px;
  font-style: italic;
}

html {
  scroll-behavior: smooth;
}
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: $link-main;
  text-decoration: none;
  &:hover {
    text-decoration: none;
    color: $link-hover;
  }
  &:focus {
    outline: none;
  }
}

ul {
  list-style: none;
}
button {
  cursor: pointer;
}
img:focus {
  outline: none;
}
p {
  margin-bottom: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
  overflow-x: hidden;
  font-weight: 400;
  background-color: $bgmain;
}

// header
.header-bg {
  background-image: url(../images/banner.jpeg);
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: -2;
  height: 700px;
  &::after {
    content: "";
    background-color: #000;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
  }
}
.header {
  &__menu {
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    background-color: transparent;
    padding: 10px 0;
    z-index: 999;
  }
  &__menu--logo {
    display: flex;
    align-items: center;
    h1 {
      margin-bottom: 0;
      padding-left: 5px;
      color: #fff;
    }
  }
  &__menu--nav-button {
    background-color: #fff;
    padding: 0 10px;
    border-radius: 3px;
    border: 1px solid #7f7f7f;
  }
}
.header {
  text-align: center;
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  li {
    padding: 5px 10px;
    text-align: center;
    font-size: 14px;
  }
  &__menu--nav > ul {
    height: 40px;
    line-height: 40px;
  }
  &__menu--nav > ul > li {
    display: inline-block;
    position: relative;
    width: 80px;
    transition: 0.3s;
  }
  &__menu--nav > ul > li > ul {
    display: none;
    position: absolute;
    top: 40px;
  }
  &__menu--nav > ul > li > ul li {
    padding: 5px 0;
    border-bottom: 1px solid #dddddd;
  }
  ul li:last-child {
    border: none;
  }

  &__menu--nav ul li:hover ul {
    margin-top: 10px;
    display: block;
    background-color: #7f7f7f;
    width: 100px;
  }
  &__menu--nav ul li:hover {
    background-color: #f8661e;

    a {
      color: #fff;
    }
  }

  &__content {
    color: #fff;
    position: absolute;
    top: 37%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &__content--top,
  &__content--mid {
    font-size: 60px;
  }
  &__content-bottom {
    font-size: 36px;
  }

  &__arrow {
    font-size: 60px;
    color: #f8661e;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
  }
}

// for menu mobile
.header__menu--mobile {
  transition: 0.3s;
  position: fixed;
  top: 47px;
  left: -210px;

  width: 200px;
  background-color: #000;
  padding: 0 20px;
  z-index: 1000;

  -webkit-box-shadow: 10px 9px 13px -7px rgba(0, 0, 0, 0.51);
  box-shadow: 10px 9px 13px -7px rgba(0, 0, 0, 0.51);
  // for header menu mobile
  .button-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;

    h2 {
      font-size: 20px;
      color: #fff;
      font-weight: 500;
      margin-bottom: 0;
    }

    svg {
      color: #f8661e;
      cursor: pointer;
      &:hover {
        color: #ca5419;
        transition: 0.3s;
      }
    }
  } // end
  ul li > ul {
    display: none;
  }
  ul > li {
    position: relative;
    padding: 20px 0;
    text-align: start;
    border-bottom: 1px solid #7f7f7f;
  }

  ul li:hover ul {
    display: block;
    position: absolute;
    left: 160px;
    top: 0;

    background-color: #000;
    width: 130px;
    padding-left: 30px;
    z-index: 999;
  }
}

// welcome
.welcome__text,
.welcome__icon--item {
  text-align: center;
}
.welcome__text--title {
  font-size: 40px;
  padding: 90px 0 10px;
}
.welcome__icon--item {
  padding: 10px 10px;
}
.welcome__icon--title {
  font-size: 14px;
}
.welcome__text--content {
  margin-top: 30px;
  font-size: 14px;
  @include d-flex();
  justify-content: center;
  p {
    max-width: 787px;
    line-height: 28px;
    color: #555;
  }
}
.welcome__gallery {
  padding: 30px 0;
  .welcome__gallery--img {
    padding: 0 10px;
    img {
      width: 100%;
      padding: 5px 0;
    }
  }
}

// special
.special {
  background-color: #000;
  &__title {
    font-size: 40px;
    color: #fff;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 30px;
  }
  &__content {
    padding-bottom: 40px;
    &:focus {
      outline: none;
    }
    img {
      height: 500px;
      width: 100%;
      object-fit: cover;
      &:focus {
        outline: none;
      }
    }
    .reverse {
      display: flex;
      flex-direction: column-reverse;
      text-align: center;
    }
  }
  .special__content--title {
    font-size: 24px;
    color: #f8661e;
  }
  .special__content--content {
    font-size: 14px;
    color: #fff;
  }
  .special__content--image-full {
    padding: 0;
  }
  .slick .slick-list {
    width: 100%;
  }
}

// rooms
.room {
  &__title {
    font-size: 40px;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 30px;
  }
  .room__img--inline {
    display: block;
    img {
      width: 100%;
      height: 250px;
      object-fit: cover;
    }
    .room__img--inline--50 {
      .room__img--inline--50--content {
        @include transition(0.3s);
        display: none;
      }
      width: 100%;
      position: relative;
      .room__img--inline--50--content--text,
      .room__img--inline--50--content--background {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0px;
      }
      .room__img--inline--50--content--text {
        z-index: 3;
        text-align: center;

        p:first-child {
          margin-top: 20px;
          font-size: 20px;
        }
        p {
          font-size: 16px;
          color: #fff;
          letter-spacing: 1px;
        }
      }
      .room__img--inline--50--content--background {
        z-index: 2;
        background-color: #000;
        opacity: 0.6;
      }
      &:hover .room__img--inline--50--content {
        display: block;
      }
    }
  }
  &__view {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 60px;
    button {
      background-color: #000;
      color: #fff;
      font-size: 14px;
      border: none;
      padding: 15px 20px;
      letter-spacing: 5px;
      @include transition(0.3s);
      &:hover {
        background-color: $link-hover;
      }
    }
  }
}

// counter
.counter {
  background-color: #f8661e;
  color: #fff;

  &__group {
    display: block;
    padding: 70px 0;
  }
  .count {
    font-size: 48px;
  }
  #shiva {
    text-align: center;
    padding: 10px 0;
  }
}

// video
.video {
  background-color: #000;
  text-align: center;
  padding: 20px 0;
}

// inside our hotel
.hotel {
  text-align: center;
  .slick-list {
    width: 100%;
    .slick-track {
      display: flex;
      justify-content: center;
    }
    .slick-trach img {
      object-fit: cover;
    }
  }
  &__title {
    font-size: 40px;
    padding-top: 60px;
    padding-bottom: 30px;
  }
  &__img {
    img {
      width: 100%;
      height: 405px;
      object-fit: cover;
    }
    .hotel__img--01,
    .hotel__img--02 {
      padding: 0 15px;
    }
    .hotel__img--title {
      font-size: 30px;
    }
    .hotel__img--desc {
      font-size: 16px;
      padding-top: 20px;
    }
  }
  &__button {
    padding-top: 20px;
    padding-bottom: 70px;
    img {
      width: 47px !important;
      height: 38px;
      margin: 0 10px;
      cursor: pointer;
    }
  }
}

// review
.review {
  margin-top: 70px;
  background-color: #232323;
  text-align: center;
  &__content {
    padding-bottom: 30px;
  }
  &__content--img {
    padding-bottom: 40px;
    @include d-flex();
    justify-content: center;
    img {
      border-radius: 50%;
    }
  }
  &__title {
    padding: 40px 0;
    font-size: 40px;
    color: #f8661e;
  }
  &__content--desc,
  &__content--job {
    color: #fff;
    font-size: 14px;
  }
  &__content--job p:first-child {
    font-size: 18px;
    color: #f8661e;
  }
  &__content--slick {
    padding: 0 40px;
  }
  .slick-list {
    width: 70%;
    margin: auto;
  }
}
.slick-prev {
  left: 30px;
}
.slick-next {
  right: 30px;
}

// logos
.logo {
  height: 250px;
  align-items: center;
  display: flex;
  .slick-list {
    width: 100%;
  }
  img {
    height: 150px;
    object-fit: none;
  }
  .fix {
    width: 200px;
    height: 150px;
    background-repeat: no-repeat;
  }
}

// footer
.footer {
  text-align: center;
  padding: 40px 20px;
  background-color: #000;
  &__logo p {
    font-size: 30px;
    color: #fff;
    margin-top: 20px;
  }
  &__social {
    padding-top: 43px;
  }
  &__social a {
    color: #7f7f7f;
    font-size: 20px;
    padding: 0 15px;
    &:hover {
      color: #f8661e;
    }
  }

  &__content {
    font-size: 14px;
    color: #7f7f7f;
    padding-top: 30px;
  }
}
